@import "tailwindcss";
.active{
    @apply border-b-2 border-[#49557e];
}

.categoryBorder{
     border: 4px solid tomato;
     padding: 2px;
     border-radius: 50%;
}

.fade-in {
  animation: fadeIn 1.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* For smooth scroll of page  */
*{
  scroll-behavior: smooth;
}


/* **************For this smooth scroll of food items (Not used currently) ************/
/* @keyframes scrollAnimation{
  from{
    opacity: 0;
    scale: 0.5;
  }
  to{
    opacity: 1;
    scale: 1;
  }
}
.scroll-animate{
  animation: scrollAnimation ease-in-out;
  animation-timeline: view();
  animation-range: entry 0% cover 12%;
} */

